@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #303030;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    margin-inline: auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 35px;
    align-items: center;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.top {
    display: flex;
    align-items: center;
    align-items: flex-start;
    flex-shrink: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fbfbfd;
}

section ul {
    list-style: none;
    display: flex;
    margin-inline: auto;
    gap: 45px;
    align-items: center;
}

.itm {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

.name {
    color: #1D1D1F;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}

.arv {
    color: #BF4800;
    text-align: center;
    font-size: 10px;
    font-weight: 400;
}

.hero {
    margin-top: 100px;
    display: flex;
    margin-inline: auto;
    align-items: center;
    flex-direction: column;
}

.h-r1 {
    margin: 15px;
    color: #6E6E73;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
}

.h-r3 {
    text-align: center;
    margin: 15px;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    background: linear-gradient(90deg, #2CA2B4 0%, #5598DE 24.00%, #7F87FF 45.00%, #F65AAD 76.00%, #EC3D43 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.h-r4 {
    margin: 15px;
    text-align: center;
    font-size: 21px;
    font-weight: 400;
}

.h-r5 {
    margin: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 30px;
}

.h-r5>button {
    color: #FFF;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    background-color: #06C;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
}

.h-r5>p {
    color: #06C;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    margin-top: 7px;
    font-weight: 500;
}

.hero2 {
    padding-top: 50px;
    background-color: black;
    margin-top: 10px;
    display: flex;
    margin-inline: auto;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
}

.h2-r1 {
    margin: 10px;
    color: #6E6E73;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
}

.h2-r2 {
    color: white;
}

.h2-r3 {
    text-align: center;
    margin: 10px;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    background: linear-gradient(180deg, #FFB6FF 0%, #B344FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.h2-r4 {
    color: white;
    margin: 10px;
    text-align: center;
    font-size: 21px;
    font-weight: 400;
}

.h2-r5 {
    margin: 10px 10px 40px 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 30px;
}

.h2-r5>button {
    color: #FFF;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    background-color: #06C;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
}

.h2-r5>p {
    color: #06C;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    margin-top: 7px;
    font-weight: 500;
}


.sec {
    display: flex;
    justify-content: space-around;
}

.sec-col1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec-col1-r2 {
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    background: linear-gradient(90deg, #1E3791 0%, #2948B1 40.00%, #3153C6 55.00%, #385FDA 60.00%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sec-col1-r3 {
    margin: 20px 10px 10px 10px;
    text-align: center;
    font-size: 21px;
    font-weight: 400;
}

.sec-col1-r4 {
    margin: 10px 10px 40px 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 30px;
}

.sec-col1-r4>button {
    color: #FFF;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    background-color: #06C;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
}

.sec-col1-r4>p {
    color: #06C;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    margin-top: 7px;
    font-weight: 500;
}

.sec1 {
    position: relative;
    margin: 10px 20px;
    background-image: url("./Assets/sec1-bg.png");
    height: 814px;
}

.sec1-c {
    position: absolute;
    top: 40%;
    left: 17%;
}

.sec1-cr1 {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}

.sec1-cr2 {
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
}

.sec1-cr3 {
    background-color: white;
    margin-top: 20px;
    color: #000;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
}